<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Listado Empleados</title>
	<meta charset="UTF-8"/>
</head>
<body>
<section th:fragment="listadoTipoVehiculos" id="tipoVehiculos">
	<div class="container">
		<div class="row" style="width: 1190px;padding-bottom: 170px;">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h4>Listado Tipo Vehiculos</h4>
					</div>
					<div th:if="${tipoVehiculos!= null and !tipoVehiculos.empty}">
						<table class="table table-stryped">
							<thead class="thead-dark">
							<tr>
								<th>ID</th>
								<th>Descripcion</th>
								<th></th>
								<th></th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="tipoVehiculo:${tipoVehiculos}">
								<td th:text="${tipoVehiculo.id}">Id</td>
								<td th:text="${tipoVehiculo.descripcion}">Descripcion</td>
								<td>
									<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/editarTipoVehiculo/} + ${tipoVehiculo.id}"
									   class="btn btn-secondary">
										<i class="fas fa-angle-double-right"></i> Editar
									</a>
								</td>
								<td sec:authorize="hasRole('ROLE_ADMIN')" ><a th:href="@{/eliminarTipoVehiculo/}+ ${tipoVehiculo.id}" class="btn btn-dark">
									<i class="fas fa-angle-double-right"></i> Eliminar
								</a>

								</tr>
								</tbody>
							</table>
						</div>
						<div class="text-center p-2" th:if="${tipoVehiculos== null or tipoVehiculos.empty}">
							<span th:text="#{tipoVehiculo.lista-vacia}"> vacía</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	</body>
	</html>