
/*con esto no tendremos probema con el padding a esto se  le domina box model*/

.nombre-sitio {
    margin-top: 5rem;
    text-align: center;/*centra el texto*/

}
.nombre-sitio span{
    color: #037bc0; /*color conbinado del titulo*/
}

.contenedor-navegacion{
    border-top: 0.1rem solid #e1e1e1; /*linea hasta loes extremos*/
}


.nav-principal{
    /*border-top: 1px solid #e1e1e1;/*manera resumida*/
    /*margin: 20px 0;*/ /*manera resumida*/
    padding: 2rem 0;
    display: flex; /*ojo que para aplicar esta propiedad se le tiene que realizar al pdre directo es decir e
    estamps tratando de destrobuir los enlaces es por esto que se le realiza a .nav-principal*/
    justify-content: space-around;
}

.hero{
    background-image: url(../img/principal.jpg);/*imagen relativa la poscioon del archivo es decir toca salir i entrar*/
    background-repeat: no-repeat;/*con esto no repetimos la imgane ya que pord defecto lo hace*/
    background-size: cover; /*alarga la imagen a lo ancho de la pantalla*/
    background-position: center center;
    height: 55rem;
}

* GOLABALES
SELECTORES GLOVALES ES DECIR APLICA A TODOS LOS SELECTORES QUE SE COLOQUEN */

h1,h2,h3 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0; /*elimina todos los maegesnes de los heddings*/
}

h1 {
    font-size: 5rem;

}
h2 {
    font-size: 4rem;

}

h3 {
    font-size: 3rem;

}

.btnDas{
    background-color: #white;
    display: block; /*nos da todo el ancho disponible*/
    color: black;
    text-transform: uppercase;/*trasnforma el texto en mayusculas*/
    font-weight: 900;
    padding: 4rem;
    transition: background-color .3s ease-out;/*transicion de colores recibe tres parametros*/
    text-align: center;
    border: none;
    font-size: 3rem;
    text-decoration: none;
}



/*.btn:hover{
    background-color: #658504;
    cursor: pointer;
}*/

/*.btn-block:hover{
background-color: #80008099;
    cursor: pointer;

}*/

.dropdown-item:hover{
background-color: #80008099;
}

.btnDas:hover{
    background-color: #80008099;
    cursor: pointer;

}

/*utilidades*/
.text-center{
    text-align: center;
}

.max-width-30{
    max-width: 30rem;
}

/*header y navegacion*/


.nombre-sitio {
    margin-top: 5rem;
    text-align: center;/*centra el texto*/

}
.nombre-sitio span{
    color: #037bc0; /*color conbinado del titulo*/
}

.contenedor-navegacion{
    border-top: 0.1rem solid #e1e1e1; /*linea hasta loes extremos*/
}


.nav-principal{
    /*border-top: 1px solid #e1e1e1;/*manera resumida*/
    /*margin: 20px 0;*/ /*manera resumida*/
    padding: 2rem 0;
    display: flex; /*ojo que para aplicar esta propiedad se le tiene que realizar al pdre directo es decir e
    estamps tratando de destrobuir los enlaces es por esto que se le realiza a .nav-principal*/
    justify-content: space-around;
}

.hero{
    background-image: url(../img/principal.jpg);/*imagen relativa la poscioon del archivo es decir toca salir i entrar*/
    background-repeat: no-repeat;/*con esto no repetimos la imgane ya que pord defecto lo hace*/
    background-size: cover; /*alarga la imagen a lo ancho de la pantalla*/
    background-position: center center;
    height: 55rem;
}

.contenido-principal{
    padding-top: 5rem;
}

.text-producto{
    text-align: center;
    color: black;
    padding: 2rem;

}

.text-producto h3{
    margin: 0;
}
.text-producto p{
    margin: 0 0 .5rem 0;
}

.text-producto .precio {
    font-size: 2.8rem;
    font-weight: 900;
}

/*footer*/

.site-footer{
    border-top: 0.1rem solid #e1e1e1;
    margin: 5rem;
    padding: 5rem;

}
.site-footer h3{
    margin-bottom: 2rem;
}

.foot-purpura{
background-color: #800080;
}

.head-purpura{
background-color: #800080;
}



