<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Editar Empresa</title>
	<meta charset="UTF-8"/>
</head>
<body>
<section th:fragment="editarControlKilometrajes">
	<form th:action="@{/guardarControlKilometraje}" th:object="${controlKilometraje}"
	      method="POST" class="was-validated">
		<input type="hidden" name="idControlKilometraje" th:field="*{id}"/>
		<section th:replace="layaut/controlKilometraje/botonesEditarControlKilometraje :: botonesEditarControlKilometraje"></section>
		<div id="details">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="card">
							<div class="card-header">
								<h4>Editar</h4>
							</div>
							<div class="card-body">
								<div class="form-group">
									<label for="vehiculo">Vehiculo</label>
									<input type="text" class="form-control" name="vehiculo"
									       required="true" th:field="*{vehiculo}"/>
								</div>

								<div class="form-group">
									<label for="fechaRegistro">Fecha Registro</label>
									<input type="date" class="form-control" name="fechaRegistro"
										   required="true" th:field="*{fechaRegistro}"/>
								</div>

								<div class="form-group">
									<label for="kilometraje">Kilometraje</label>
									<input type="number" class="form-control" name="kilometraje"
										   required="true" th:field="*{kilometraje}"/>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>
</body>
</html>

















<!--




<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Editar Cliente</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="editarCliente">
            <form th:action="@{/guardar}" th:object="${empresa}"
                method="POST" class="was-validated">
               <input type="hidden" name="idEmpresa" th:field="*{id}"/>
                <section th:replace="layaut/botonesEditar :: botonesEditar"></section>
            </form>
        </section>
    </body>
</html>
-->