<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Listado Empleados</title>
	<meta charset="UTF-8"/>
</head>
<body>
<section th:fragment="listadoControlKilometrajes" id="controlKilometrajes">
	<div class="container">
		<div class="row" style="width: 1190px;padding-bottom: 170px;">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<h4>Listado Control Kilometraje</h4>
					</div>
					<div th:if="${controlKilometrajes!= null and !controlKilometrajes.empty}">
						<table class="table table-stryped">
							<thead class="thead-dark">
							<tr>
								<th>Vehiculo Placa</th>
								<th>Fecha Registro</th>
								<th>Kilometraje</th>
<!--								<th>Activo</th>-->
								<th></th>
								<th></th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="controlKilometraje:${controlKilometrajes}" th:if="${controlKilometraje.activo == true}">
								<td th:text="${controlKilometraje.vehiculo.placa}">Vehiculo</td>
								<td th:text="${controlKilometraje.fechaRegistro}">fechaRegistro</td>
								<td th:text="${controlKilometraje.kilometraje}">kilometraje</td>
<!--								<td th:text="${controlKilometraje.activo}">activo</td>-->
								<td>
									<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/editarControlKilometraje/} + ${controlKilometraje.id}"
									   class="btn btn-secondary">
										<i class="fas fa-angle-double-right"></i> Editar
									</a>
								</td>
								<td sec:authorize="hasRole('ROLE_ADMIN')" ><a th:href="@{/eliminarControlKilometraje/}+ ${controlKilometraje.id}" class="btn btn-dark">
									<i class="fas fa-angle-double-right"></i> Eliminar
								</a>

								</tr>
								</tbody>
							</table>
						</div>
						<div class="text-center p-2" th:if="${controlKilometrajes== null or controlKilometrajes.empty}">
							<span> Lista Vacía</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	</body>
	</html>