<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Agregar Tipo Usuario</title>
	<meta charset="UTF-8"/>
</head>
<body sec:authorize="isAuthenticated()">
<section th:fragment="agregarTipoUsuario">
	<div id="agregarTipoUsuario" class="modal fade">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header bg-info text-white">
					<h5 class="modal-title" >Agregar Tipo Usuario</h5>
					<button class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<form th:action="@{/guardarTipoUsuario}" th:object="${tipoUsuario}"
				      method="POST" class="was-validated">
					<div class="modal-body">
						<div class="form-group">
							<label for="descripcion" >Nombre</label>
							<input type="text" class="form-control" name="descripcion" required="true">
						</div>

					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" type="submit">Guardar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

</body>
</html>
