<html xmlns:th ="http://www.thymelealf.org"
				 xmlns:sec="http://www.thymelealf.org/extras/spring-security">
<head th:replace="layaut/plantilla :: head">
    <title>inicio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body sec:authorize="isAuthenticated()">
<header th:replace="layaut/plantilla :: header"></header>
<section th:replace="layaut/vehiculo/botonesAgregarVehiculo :: botonesAgregarVehiculo"></section>

<section th:replace="layaut/vehiculo/agregarVehiculo :: agregarVehiculo"></section>
<section th:replace="layaut/vehiculo/botonesFiltrarVehiculo :: botonesFiltrarVehiculo"></section>
<section th:replace="layaut/vehiculo/listadoVehiculos :: listadoVehiculos"></section>
<footer th:replace="layaut/plantilla :: footer"></footer>

</body>
</html>


