<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Editar Empresa</title>
	<meta charset="UTF-8"/>
</head>
<body sec:authorize="isAuthenticated()">
<section th:fragment="editarMovimientoDinero">
	<form th:action="@{/guardarMovimientoDinero}" th:object="${movimientoDinero}"
	      method="POST" class="was-validated">
		<input type="hidden" name="idMovimientoDinero" th:field="*{id}"/>
		<section th:replace="layaut/movimientoDinero/botonesEditarMovimientoDinero :: botonesEditarMovimientoDinero"></section>
		<div id="details">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="card">
							<div class="card-header">
								<h4>Editar</h4>
							</div>
							<div class="card-body">
								<div class="form-group">
									<label for="montoMovimiento">Monto Movimiento</label>
									<input type="text" class="form-control" name="montoMovimiento"
									       required="true" th:field="*{montoMovimiento}"/>
								</div>
								<div class="form-group">
									<label for="conceptoMovimiento">Concepto Movimiento</label>
									<input type="text" class="form-control" name="conceptoMovimiento"
									       required="true" th:field="*{conceptoMovimiento}"/>
								</div>

								<div class="form-group">
									<label for="enpleado">Empleado</label>
									<input type="text" class="form-control" name="enpleado"
									       required="true" th:field="*{enpleado}"/>
								</div>


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>
</body>
</html>

















<!--




<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Editar Cliente</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="editarCliente">
            <form th:action="@{/guardar}" th:object="${empresa}"
                method="POST" class="was-validated">
               <input type="hidden" name="idEmpresa" th:field="*{id}"/>
                <section th:replace="layaut/botonesEditar :: botonesEditar"></section>
            </form>
        </section>
    </body>
</html>
-->